---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import Greeting from '../components/Greeting';
const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<h1>{pageTitle}</h1>
		<h2>My awesome blog subtitle</h2>
		<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
		<Footer />

		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>


<!-- This is how it doesn't work. In order to follow along with the tutorial
	and being able to play around a little, I went back to the working version.
---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout>
	<h2>My awesome blog subtitle</h2>
</BaseLayout>-->